<launch>
<node name="robot_sim2" type="robot_tf.py" pkg="multirobot_coverage" output="screen">
  <param name="robot_name" type="str" value="robot2"/>
  <param name="robot_id" type="int" value="2"/>
  <param name="x_pos" type="double" value="82"/>
  <param name="y_pos" type="double" value="24"/>
</node>

<node name="fuzzy2" type="fuzzy_controller.py" pkg="multirobot_coverage" output="screen">
  <param name="robot_name" type="str" value="robot2"/>
</node>

</launch>